{% extends "base.html" %}
{% load static %}

{% block title %}product detail{% endblock title %}

{% block headers %}{% endblock headers %}

{% block content %}
    <h2>{{product.name}}</h2>
    <h4>{{product.price}} $</h4>
    <small>{{product.created_date }}<small>
        <br>
        <img src="{{product.image.url}}" style="width: 250px; height:250px;">
    <hr>
    <p>{{product.description}} </p>
    <br>
    <br>
    <form action="{% url "orders:basket-add" product_id=product.id %}" method='post' class="col-md-3" novalidate>
        {% csrf_token %}
        {{form}}
        <input type='submit' value='add to basket' >
    </form>
{% endblock content %}