{% extends "base.html" %}
{% load static %}


{% block title %}
    checkout page
{% endblock title %}

{% block headers %}
    <link rel="stylesheet" href="{% static "orders_module\css\orders.css" %}">
{% endblock headers %}


{% block content %}
    <h3 class='text-center'>Checkout</h3>
    <table class="table table-striped">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody class='text-center'>

            {% for item in order.order_items.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{item.product.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.get_cost}}</td>
                
            </tr>
            {% endfor %}
            <tr class="table-primary text-center">
                <td class='text-center'>Total</td>
                <td >{{order.get_total_price}}</td>
            </tr>

        </tbody>
    </table>
    <a class='btn btn-dark col-md-3 btn-pay' href='{% url "zarinpal:order-pay" order.id %}'>pay</a>
    <br><br>
    <form class='col-md-2' action="{% url "orders:coupon-apply" order_id=order.id %}" method='post' novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input value='apply' type='submit'>
    </form>
{% endblock content %}